<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.myconcreteapp.albany"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Albany Redi-Mix Calculator App</name>

    <description>
        Albany Redi-Mix Concrete Calculator App 
    </description>

    <author href="https://myconcreteapp.com" email="support@myconcreteapp.com">
        Me 
    </author>
    
    <!-- Define app icon for each platform. -->
<!--    <icon src="icon.png" />-->
    <icon src="pics/icon_android-36.png"   gap:platform="android"    gap:qualifier="ldpi" />
    <icon src="pics/icon_android-48.png"   gap:platform="android"    gap:qualifier="mdpi" />
    <icon src="pics/icon_android-72.png"   gap:platform="android"    gap:qualifier="hdpi" />
    <icon src="pics/icon_android-96.png"  gap:platform="android"    gap:qualifier="xhdpi" />
        
</widget>